<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    {% if user.is_authenticated%}
                        {% ifequal user.userprofile.user_type 'user' %}

                        <!-- {{user.userprofile.user_type}} -->
                        <li class="nav-item active">
                        <a class="nav-link ml-lg-0" href="{% url 'index' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_request' %}">Request</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                            <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                        </li>
                        {% endifequal %}
                        {% ifequal user.userprofile.user_type 'mechanics' %}

                        <!-- {{user.userprofile.user_type}} -->
                        <li class="nav-item active">
                        <a class="nav-link ml-lg-0" href="{% url 'index' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_request' %}">Request</a>
                        </li>
                        

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        
                        {% endifequal %}
                        {% else %}

                        <li class="nav-item active">
                        <a class="nav-link ml-lg-0" href="{% url 'index' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Services</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Booking</a>
                            <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                        </li>
                    {% endif %}
                                        <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-center" href="about.html">About</a>
                            <a class="dropdown-item text-center" href="services.html">Services</a>

                        </div>
                    </li> -->



                    <!--  <div class="btn-group">
                       <button type="button" class="btn btn-primary">Apple</button> 
                      <button type="button" class="btn btn-primary">Samsung</button>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                           Sony
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Tablet</a>
                          <a class="dropdown-item" href="#">Smartphone</a>
                        </div>
                      </div>
                    </div> -->
                    
                     
                     {% if user.is_authenticated %}
                    
                       <div class="btn-group">
                           <!-- <button type="button" class="btn btn-primary">apple</button>  -->
                          <button type="button" class="btn btn-primary">{{user.username}}</button>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Action
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'user_profile' %}">Your Profile</a>
                              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                          </div>
                        </div>
                    {% else %}</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Registration & Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-center" href="{% url 'register' %}">Rgister</a>
                            <a class="dropdown-item text-center" href="{% url 'login' %}">Login</a>

                        </div>
                    </li>
                    {% endif %}
                    
                </ul>

            </div>
        </nav>
    </header>