<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Register your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                    
                   <!--  <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Select Your Type</label>
                        <select  class="form-control"  name="account_type" id="recipient-rname" >
                                <option selected="true" disabled="disabled">As a</option>
                            <option value="1">Customer</option>
                            <option value="2">Mechainc</option>
                        </select>
                    </div> -->
                    
                    <div class="form-group col-sm-6" style="float: left">
                        <label for="recipient-name" class="col-form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="first_name" name="first_name" id="recipient-rname" >
                    </div>
                    <div class="form-group col-sm-6" style="float: left">
                            <label for="recipient-name" class="col-form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="last_name" name="last_name" id="recipient-rname" >
                    </div>
                   
                    <div class="form-group">
                        <label for="recipient-email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email" id="recipient-email" >
                    </div>
                   
                    <div class="form-group">
                        <label for="password1" class="col-form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password1" >
                    </div>
                   
                    <div class="form-group">
                        <label for="password2" class="col-form-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="password2" id="password2" >
                    </div>
                    
                    <div class="right-w3l">
                        <input type="submit" name="Register" class="form-control" value="sign_up">
                     </div>

                </form>
            </div>
        </div>
    </div>
    </div>