{% extends 'base.html' %}
{% block content %}
	<section class="about py-5">
	<div class="container py-lg-5 py-3">
		<h3 class="heading text-capitalize text-center">Welcome</h3>
		<h5 class="heading mb-5 text-center">On Road Vehicle Breakdown Assistance</h5>
		<div class="about-head text-center ">
			<div class="row about-grids-top mb-5">
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i class="fas fa-money-bill-alt" aria-hidden="true"></i>
					<h4>Low Charges</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i class="fa fa-users" aria-hidden="true"></i>
					<h4>Safe & Secure</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-sm-0 mt-5 about-grid p-0">
					<i class="fa fa-road" aria-hidden="true"></i>
					<h4>Traffic Roads</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-taxi" aria-hidden="true"></i>
					<h4>ORVBA</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-cogs" aria-hidden="true"></i>
					<h4>24/7 Service</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-smile" aria-hidden="true"></i>
					<h4>Customers</h4>
				</div>
			</div>
			<div class="row about-grids-bottom text-left">
				<div class="col-md-4 mb-md-0 mb-5 about-bottom-grid">
					<h4 class="mb-4">Join our growing team as an expert service advisor, directly working with our customers to help them better take care of their cars.</h4>
					<!-- <a href="about.html"> More About Us</a>	 -->
				</div>
				<div class="col-md-4 about-bottom-grid">
					<p>Join our engineering team to build cutting-edge technically intensive systems to support our products.</p>
				</div>
				<div class="col-md-4 about-bottom-grid">
					<p>OnRoad Vehicle Breakdown Assistance provides best online car service in India making car maintenance easy, affordable and completely transparent. We also provide you with the best car service deals. Full car service is faciliated at one of the Carcrew car service centre. So book car service now! </p>
				</div>
			</div>
		</div>
				
	</div>
</section>

{% include 'partials/our_mechanics.html' %}
{% endblock %}